:javascript
  var school_list = function() {
    var school_search_text = $('#school_search_text').val();
    $('#search_results').append('#{image_tag 'input_loader.gif'}');

    if(school_search_text) {
      $.get('locates/find_school?url=' + school_search_text, function(results) {
        $('#search_results').html('');
        $('#search_results').append(results);
      });
    } else {
      alert('You must enter a URL');
    }
  }

Enter a the URL of a school from placekeeper.com to find it's coordinates.
%br
%br
  #search_schools
    %input.search-query{ :id => 'school_search_text', :type => 'text', :placeholder => 'School URL', :style => 'width:700px;' }
    %button.btn{ :style => 'margin-top:-10px;', :onclick => 'school_list();' } Search

  %br
  %br
  #search_results

