:javascript
  var school_list = function() {
    var school_search_text = $('#school_search_text').val();

    var target = $('#search_results');
    var spinner = new Spinner(opts).spin(target);
    target.append(spinner.el);

    if(school_search_text) {
      $.get('locates/find_school?url=' + school_search_text, function(results) {
        $('#search_results').html('');

        var display_results = results.split(',');

        $('#search_results').append('<table>');
        for (count in display_results) {
          if(count % 2 == 0)
            $('#search_results').append("<tr class='stripe'>");
          else
            $('#search_results').append("<tr>");

          var location_parts = display_results[count].split('|');
          $('#search_results').append('<td>link</td>');
          for (sub_count in location_parts) {
            $('#search_results').append("<td>" + location_parts[sub_count] + "</td>");
          }
          $('#search_results').append("</tr>");
        }
        $('#search_results').append('</table>');
      });
    } else {
      alert('You must enter a URL');
    }
  }

  var opts = {
    lines: 11, // The number of lines to draw
    length: 11, // The length of each line
    width: 3, // The line thickness
    radius: 10, // The radius of the inner circle
    rotate: 0, // The rotation offset
    color: '#000', // #rgb or #rrggbb
    speed: 1, // Rounds per second
    trail: 100, // Afterglow percentage
    shadow: true, // Whether to render a shadow
    hwaccel: true, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: 'auto', // Top position relative to parent in px
   left: 'auto' // Left position relative to parent in px
  };

Enter a the URL of a school from placekeeper.com to find it's coordinates.
%br
%br
  #search_schools
    %input.search-query{ :id => 'school_search_text', :type => 'text', :placeholder => 'School URL', :style => 'width:700px;' }
    %button.btn{ :style => 'margin-top:-10px;', :onclick => 'school_list();' } Search

  %br
  %br
  #search_results

