%div{ :class => "alert alert-block alert-error fade in hide" }
  %button{ :type => 'button', :class => 'close', "data-dismiss" => 'alert' }
    x
  %h4{ :class => 'alert-heading' }
    Hello there!

%div{ :class => "alert alert-block alert-success fade in hide" }
  %button{ :type => 'button', :class => 'close', "data-dismiss" => 'alert' }
    x
  %h4{ :class => 'alert-heading' }
    Hello there!
